In [1]:
import pandas as pd

In [2]:
data_outc = pd.read_csv('/Users/sowmy/Documents/JigsawAcad/CapstonProject_1/outcomes.csv/outcomes.csv')

In [3]:
data_outc.head()

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
1,ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
2,ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
3,ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
4,ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0

In [4]:
data_outc.shape

(619326, 12)

In [5]:
do = data_outc.describe(include='all')

In [6]:
pd.DataFrame(do)

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
count,619326,619326,524928,619326,524928,619326,524928,524928,524928,439487.00000,524928.000000,524928.000000
unique,619326,2,2,2,2,2,2,2,2,NaN,NaN,NaN
top,8d4ad8c1518af19b9803ecf79f0ecbba,f,f,t,t,f,t,t,f,NaN,NaN,NaN
freq,1,582616,400268,430683,378693,432156,272378,377809,517992,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.92709,0.777339,4.361290
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.71410,2.227933,5.668748
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.00000,0.000000,1.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.00000,0.000000,3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.00000,0.000000,5.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.00000,151.000000,304.000000

In [7]:
do = do.T

In [8]:
do.shape

(12, 11)

In [9]:
miss = data_outc.isnull().sum()
miss

projectid                                              0
is_exciting                                            0
at_least_1_teacher_referred_donor                  94398
fully_funded                                           0
at_least_1_green_donation                          94398
great_chat                                             0
three_or_more_non_teacher_referred_donors          94398
one_non_teacher_referred_donor_giving_100_plus     94398
donation_from_thoughtful_donor                     94398
great_messages_proportion                         179839
teacher_referred_count                             94398
non_teacher_referred_count                         94398
dtype: int64

In [10]:
do['missing'] = miss

In [11]:
do.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,missing
projectid,619326,619326,8d4ad8c1518af19b9803ecf79f0ecbba,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
is_exciting,619326,2,f,582616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
at_least_1_teacher_referred_donor,524928,2,f,400268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94398
fully_funded,619326,2,t,430683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
at_least_1_green_donation,524928,2,t,378693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94398

In [12]:
miss_perc = data_outc.isnull().sum()/len(data_outc)*100
miss_perc

projectid                                          0.000000
is_exciting                                        0.000000
at_least_1_teacher_referred_donor                 15.242053
fully_funded                                       0.000000
at_least_1_green_donation                         15.242053
great_chat                                         0.000000
three_or_more_non_teacher_referred_donors         15.242053
one_non_teacher_referred_donor_giving_100_plus    15.242053
donation_from_thoughtful_donor                    15.242053
great_messages_proportion                         29.037857
teacher_referred_count                            15.242053
non_teacher_referred_count                        15.242053
dtype: float64

In [13]:
do['missing_perc'] = miss_perc

In [14]:
q5 = data_outc.quantile(0.05)
q5

great_messages_proportion     0.0
teacher_referred_count        0.0
non_teacher_referred_count    1.0
Name: 0.05, dtype: float64

In [15]:
do['q5'] = q5

In [16]:
q10 = data_outc.quantile(0.1)
q10

great_messages_proportion     0.0
teacher_referred_count        0.0
non_teacher_referred_count    1.0
Name: 0.1, dtype: float64

In [17]:
do['q10'] = q10

In [18]:
q85 = data_outc.quantile(0.85)
q85

great_messages_proportion     100.0
teacher_referred_count          2.0
non_teacher_referred_count      7.0
Name: 0.85, dtype: float64

In [19]:
do['q85'] = q85

In [20]:
q95 = data_outc.quantile(0.95)
q95

great_messages_proportion     100.0
teacher_referred_count          5.0
non_teacher_referred_count     14.0
Name: 0.95, dtype: float64

In [21]:
do['q95'] = q95

In [22]:
q99 = data_outc.quantile(0.99)
q99

great_messages_proportion     100.0
teacher_referred_count         10.0
non_teacher_referred_count     28.0
Name: 0.99, dtype: float64

In [23]:
do['q99'] = q99

In [24]:
do.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,missing,missing_perc,q5,q10,q85,q95,q99
projectid,619326,619326,8d4ad8c1518af19b9803ecf79f0ecbba,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN
is_exciting,619326,2,f,582616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN
at_least_1_teacher_referred_donor,524928,2,f,400268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94398,15.242053,NaN,NaN,NaN,NaN,NaN
fully_funded,619326,2,t,430683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN
at_least_1_green_donation,524928,2,t,378693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94398,15.242053,NaN,NaN,NaN,NaN,NaN

In [25]:
obs = data_outc.shape[0]

In [26]:
do['obs'] = obs

In [27]:
do = do.reindex(columns = ['mean','std','count','obs','missing', 'missing_perc', 'min', 'max', 'unique', 'q5', 'q10', '25%', 
                         '50%', '75%', 'q85', 'q95', 'q99'])

In [28]:
do.fillna('NotApplicable', inplace=True)

In [29]:
do.head()

,mean,std,count,obs,missing,missing_perc,min,max,unique,q5,q10,25%,50%,75%,q85,q95,q99
projectid,NotApplicable,NotApplicable,619326.0,619326,0,0.000000,NotApplicable,NotApplicable,619326,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
is_exciting,NotApplicable,NotApplicable,619326.0,619326,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
at_least_1_teacher_referred_donor,NotApplicable,NotApplicable,524928.0,619326,94398,15.242053,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
fully_funded,NotApplicable,NotApplicable,619326.0,619326,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
at_least_1_green_donation,NotApplicable,NotApplicable,524928.0,619326,94398,15.242053,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable

In [30]:
do.to_csv('outcome_DQR.csv')