In [1]:
import numpy as np
import pandas as pd
#from pandas_profiling import ProfileReport
import os

In [2]:
data_proj = pd.read_csv('/Users/sowmy/Documents/JigsawAcad/CapstonProject_1/projects.csv/projects.csv')

In [3]:
data_proj.columns

Index(['projectid', 'teacher_acctid', 'schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_zip', 'school_metro', 'school_district', 'school_county',
       'school_charter', 'school_magnet', 'school_year_round', 'school_nlns',
       'school_kipp', 'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area',
       'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
       'poverty_level', 'grade_level', 'fulfillment_labor_materials',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted'],
      dtype='object')

In [4]:
data_proj.shape

(664098, 35)

In [5]:
q20 = data_proj.quantile(0.20)

In [6]:
pro_des = data_proj.describe(include='all')

In [7]:
pro_des

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
count,664098,664098,664098,6.213620e+05,664098.000000,664098.000000,664098,664098,664094.000000,582190,...,664053,664098,664089,629016.000000,6.640980e+05,6.640980e+05,663952.000000,664098,664098,664098
unique,664098,249555,57004,NaN,NaN,NaN,9007,52,NaN,3,...,6,4,4,NaN,NaN,NaN,NaN,2,2,4026
top,975fc9673b34a75456445fb9e7ea7001,787720cc575e3204991b8ca18d312d2b,9231edfbd3aa42675e70e69aea8b0a36,NaN,NaN,NaN,Chicago,CA,NaN,urban,...,Supplies,highest poverty,Grades PreK-2,NaN,NaN,NaN,NaN,f,f,2012-09-30
freq,1,266,944,NaN,NaN,NaN,28435,126242,NaN,349703,...,229213,383489,246118,NaN,NaN,NaN,NaN,485746,626060,1490
mean,NaN,NaN,NaN,2.608577e+11,37.240948,-93.344760,NaN,NaN,52926.452644,NaN,...,NaN,NaN,NaN,27.495822,5.420415e+02,6.447128e+02,97.233547,NaN,NaN,NaN
std,NaN,NaN,NaN,1.589754e+11,4.668155,17.761908,NaN,NaN,31193.738658,NaN,...,NaN,NaN,NaN,8.663046,1.267738e+04,1.545863e+04,2283.327661,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000050e+10,18.249140,-176.634989,NaN,NaN,410.000000,NaN,...,NaN,NaN,NaN,9.000000,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000230e+11,34.038082,-112.003214,NaN,NaN,27589.000000,NaN,...,NaN,NaN,NaN,17.000000,2.672000e+02,3.175000e+02,22.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,2.615730e+11,37.662476,-87.681219,NaN,NaN,50702.000000,NaN,...,NaN,NaN,NaN,30.000000,4.110000e+02,4.878400e+02,30.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,3.704720e+11,40.758827,-79.193091,NaN,NaN,85043.000000,NaN,...,NaN,NaN,NaN,35.000000,5.864900e+02,6.963875e+02,100.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,6.100009e+11,67.258157,-66.628036,NaN,NaN,99950.000000,NaN,...,NaN,NaN,NaN,35.000000,1.025002e+07,1.250002e+07,999999.000000,NaN,NaN,NaN

In [8]:
#data_projc = data_proj.describe().to_csv("data_proje.csv)
pd.DataFrame(pro_des)

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
count,664098,664098,664098,6.213620e+05,664098.000000,664098.000000,664098,664098,664094.000000,582190,...,664053,664098,664089,629016.000000,6.640980e+05,6.640980e+05,663952.000000,664098,664098,664098
unique,664098,249555,57004,NaN,NaN,NaN,9007,52,NaN,3,...,6,4,4,NaN,NaN,NaN,NaN,2,2,4026
top,975fc9673b34a75456445fb9e7ea7001,787720cc575e3204991b8ca18d312d2b,9231edfbd3aa42675e70e69aea8b0a36,NaN,NaN,NaN,Chicago,CA,NaN,urban,...,Supplies,highest poverty,Grades PreK-2,NaN,NaN,NaN,NaN,f,f,2012-09-30
freq,1,266,944,NaN,NaN,NaN,28435,126242,NaN,349703,...,229213,383489,246118,NaN,NaN,NaN,NaN,485746,626060,1490
mean,NaN,NaN,NaN,2.608577e+11,37.240948,-93.344760,NaN,NaN,52926.452644,NaN,...,NaN,NaN,NaN,27.495822,5.420415e+02,6.447128e+02,97.233547,NaN,NaN,NaN
std,NaN,NaN,NaN,1.589754e+11,4.668155,17.761908,NaN,NaN,31193.738658,NaN,...,NaN,NaN,NaN,8.663046,1.267738e+04,1.545863e+04,2283.327661,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000050e+10,18.249140,-176.634989,NaN,NaN,410.000000,NaN,...,NaN,NaN,NaN,9.000000,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000230e+11,34.038082,-112.003214,NaN,NaN,27589.000000,NaN,...,NaN,NaN,NaN,17.000000,2.672000e+02,3.175000e+02,22.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,2.615730e+11,37.662476,-87.681219,NaN,NaN,50702.000000,NaN,...,NaN,NaN,NaN,30.000000,4.110000e+02,4.878400e+02,30.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,3.704720e+11,40.758827,-79.193091,NaN,NaN,85043.000000,NaN,...,NaN,NaN,NaN,35.000000,5.864900e+02,6.963875e+02,100.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,6.100009e+11,67.258157,-66.628036,NaN,NaN,99950.000000,NaN,...,NaN,NaN,NaN,35.000000,1.025002e+07,1.250002e+07,999999.000000,NaN,NaN,NaN

In [9]:
q20

school_ncesid                             6.344101e+10
school_latitude                           3.378270e+01
school_longitude                         -1.179084e+02
school_zip                                2.078200e+04
fulfillment_labor_materials               1.700000e+01
total_price_excluding_optional_support    2.376400e+02
total_price_including_optional_support    2.827900e+02
students_reached                          2.000000e+01
Name: 0.2, dtype: float64

In [10]:
pro_des.head()

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
count,664098,664098,664098,6.213620e+05,664098.000000,664098.00000,664098,664098,664094.000000,582190,...,664053,664098,664089,629016.000000,664098.00000,664098.000000,663952.000000,664098,664098,664098
unique,664098,249555,57004,NaN,NaN,NaN,9007,52,NaN,3,...,6,4,4,NaN,NaN,NaN,NaN,2,2,4026
top,975fc9673b34a75456445fb9e7ea7001,787720cc575e3204991b8ca18d312d2b,9231edfbd3aa42675e70e69aea8b0a36,NaN,NaN,NaN,Chicago,CA,NaN,urban,...,Supplies,highest poverty,Grades PreK-2,NaN,NaN,NaN,NaN,f,f,2012-09-30
freq,1,266,944,NaN,NaN,NaN,28435,126242,NaN,349703,...,229213,383489,246118,NaN,NaN,NaN,NaN,485746,626060,1490
mean,NaN,NaN,NaN,2.608577e+11,37.240948,-93.34476,NaN,NaN,52926.452644,NaN,...,NaN,NaN,NaN,27.495822,542.04152,644.712845,97.233547,NaN,NaN,NaN

In [11]:
pro_des = pro_des.T

In [12]:
pro_des.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,158975385133.582855,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155,18.24914,34.038082,37.662476,40.758827,67.258157

In [13]:
pro_des.shape

(35, 11)

In [14]:
pro_des['q20'] = q20

In [15]:
pro_des.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,q20
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,158975385133.582855,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0,6.344101e+10
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155,18.24914,34.038082,37.662476,40.758827,67.258157,3.378270e+01

In [16]:
q5 = data_proj.quantile(0.05)
q5

school_ncesid                             6.047401e+10
school_latitude                           2.955562e+01
school_longitude                         -1.222543e+02
school_zip                                8.610000e+03
fulfillment_labor_materials               9.000000e+00
total_price_excluding_optional_support    1.522385e+02
total_price_including_optional_support    1.811185e+02
students_reached                          1.200000e+01
Name: 0.05, dtype: float64

In [17]:
pro_des['q5'] = q5

In [18]:
pro_des.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,q20,q5
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,158975385133.582855,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0,6.344101e+10,6.047401e+10
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155,18.24914,34.038082,37.662476,40.758827,67.258157,3.378270e+01,2.955562e+01

In [19]:
q10 = data_proj.quantile(0.1)
q10

school_ncesid                             6.227100e+10
school_latitude                           3.062453e+01
school_longitude                         -1.213731e+02
school_zip                                1.047200e+04
fulfillment_labor_materials               9.000000e+00
total_price_excluding_optional_support    1.789400e+02
total_price_including_optional_support    2.129100e+02
students_reached                          1.800000e+01
Name: 0.1, dtype: float64

In [20]:
pro_des['q10'] = q10

In [21]:
pro_des.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,q20,q5,q10
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,158975385133.582855,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0,6.344101e+10,6.047401e+10,6.227100e+10
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155,18.24914,34.038082,37.662476,40.758827,67.258157,3.378270e+01,2.955562e+01,3.062453e+01

In [22]:
q85 = data_proj.quantile(0.85)
q85

school_ncesid                             4.503540e+11
school_latitude                           4.176907e+01
school_longitude                         -7.431902e+01
school_zip                                9.160100e+04
fulfillment_labor_materials               3.500000e+01
total_price_excluding_optional_support    7.633600e+02
total_price_including_optional_support    9.049600e+02
students_reached                          1.500000e+02
Name: 0.85, dtype: float64

In [23]:
pro_des['q85'] = q85

In [24]:
q95 = data_proj.quantile(0.95)
q95

school_ncesid                             5.002820e+11
school_latitude                           4.353684e+01
school_longitude                         -7.382772e+01
school_zip                                9.512500e+04
fulfillment_labor_materials               3.500000e+01
total_price_excluding_optional_support    1.076020e+03
total_price_including_optional_support    1.283760e+03
students_reached                          4.000000e+02
Name: 0.95, dtype: float64

In [25]:
pro_des['q95'] = q95

In [26]:
q99 = data_proj.quantile(0.99)
q99

school_ncesid                             5.505250e+11
school_latitude                           4.751781e+01
school_longitude                         -7.106244e+01
school_zip                                9.814600e+04
fulfillment_labor_materials               3.500000e+01
total_price_excluding_optional_support    2.387903e+03
total_price_including_optional_support    2.848683e+03
students_reached                          8.000000e+02
Name: 0.99, dtype: float64

In [27]:
pro_des['q99'] = q99

In [28]:
pro_des.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,q20,q5,q10,q85,q95,q99
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,158975385133.582855,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0,6.344101e+10,6.047401e+10,6.227100e+10,4.503540e+11,5.002820e+11,5.505250e+11
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155,18.24914,34.038082,37.662476,40.758827,67.258157,3.378270e+01,2.955562e+01,3.062453e+01,4.176907e+01,4.353684e+01,4.751781e+01

In [29]:
mis = data_proj.isnull().sum()
mis

projectid                                      0
teacher_acctid                                 0
schoolid                                       0
school_ncesid                              42736
school_latitude                                0
school_longitude                               0
school_city                                    0
school_state                                   0
school_zip                                     4
school_metro                               81908
school_district                              948
school_county                                 17
school_charter                                 0
school_magnet                                  0
school_year_round                              0
school_nlns                                    0
school_kipp                                    0
school_charter_ready_promise                   0
teacher_prefix                                 4
teacher_teach_for_america                      0
teacher_ny_teaching_fellow                     0
primary_focus_subject                         39
primary_focus_area                            39
secondary_focus_subject                   207893
secondary_focus_area                      207893
resource_type                                 45
poverty_level                                  0
grade_level                                    9
fulfillment_labor_materials                35082
total_price_excluding_optional_support         0
total_price_including_optional_support         0
students_reached                             146
eligible_double_your_impact_match              0
eligible_almost_home_match                     0
date_posted                                    0
dtype: int64

In [30]:
pro_des['missing'] = mis

In [31]:
pro_des.head(10)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,q20,q5,q10,q85,q95,q99,missing
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,158975385133.582855,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0,6.344101e+10,6.047401e+10,6.227100e+10,4.503540e+11,5.002820e+11,5.505250e+11,42736
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155,18.24914,34.038082,37.662476,40.758827,67.258157,3.378270e+01,2.955562e+01,3.062453e+01,4.176907e+01,4.353684e+01,4.751781e+01,0
school_longitude,664098.0,NaN,NaN,NaN,-93.34476,17.761908,-176.634989,-112.003214,-87.681219,-79.193091,-66.628036,-1.179084e+02,-1.222543e+02,-1.213731e+02,-7.431902e+01,-7.382772e+01,-7.106244e+01,0
school_city,664098,9007,Chicago,28435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
school_state,664098,52,CA,126242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
school_zip,664094.0,NaN,NaN,NaN,52926.452644,31193.738658,410.0,27589.0,50702.0,85043.0,99950.0,2.078200e+04,8.610000e+03,1.047200e+04,9.160100e+04,9.512500e+04,9.814600e+04,4
school_metro,582190,3,urban,349703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81908

In [32]:
std = data_proj.std()
std

school_ncesid                             1.589754e+11
school_latitude                           4.668155e+00
school_longitude                          1.776191e+01
school_zip                                3.119374e+04
fulfillment_labor_materials               8.663046e+00
total_price_excluding_optional_support    1.267738e+04
total_price_including_optional_support    1.545863e+04
students_reached                          2.283328e+03
dtype: float64

In [33]:
pro_des['std'] = std

In [34]:
pro_des.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,q20,q5,q10,q85,q95,q99,missing
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,1.589754e+11,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0,6.344101e+10,6.047401e+10,6.227100e+10,4.503540e+11,5.002820e+11,5.505250e+11,42736
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155e+00,18.24914,34.038082,37.662476,40.758827,67.258157,3.378270e+01,2.955562e+01,3.062453e+01,4.176907e+01,4.353684e+01,4.751781e+01,0

In [35]:
obs = data_proj.shape[0]
obs

664098

In [36]:
pro_des['obs'] = obs

In [37]:
pro_des.head()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,q20,q5,q10,q85,q95,q99,missing,obs
projectid,664098,664098,975fc9673b34a75456445fb9e7ea7001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,664098
teacher_acctid,664098,249555,787720cc575e3204991b8ca18d312d2b,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,664098
schoolid,664098,57004,9231edfbd3aa42675e70e69aea8b0a36,944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,664098
school_ncesid,621362.0,NaN,NaN,NaN,260857694688.375427,1.589754e+11,10000500870.0,100023000237.0,261573000251.0,370472000075.0,610000900044.0,6.344101e+10,6.047401e+10,6.227100e+10,4.503540e+11,5.002820e+11,5.505250e+11,42736,664098
school_latitude,664098.0,NaN,NaN,NaN,37.240948,4.668155e+00,18.24914,34.038082,37.662476,40.758827,67.258157,3.378270e+01,2.955562e+01,3.062453e+01,4.176907e+01,4.353684e+01,4.751781e+01,0,664098

In [38]:
miss_perc = data_proj.isnull().sum()*100/len(data_proj)
miss_perc

projectid                                  0.000000
teacher_acctid                             0.000000
schoolid                                   0.000000
school_ncesid                              6.435195
school_latitude                            0.000000
school_longitude                           0.000000
school_city                                0.000000
school_state                               0.000000
school_zip                                 0.000602
school_metro                              12.333722
school_district                            0.142750
school_county                              0.002560
school_charter                             0.000000
school_magnet                              0.000000
school_year_round                          0.000000
school_nlns                                0.000000
school_kipp                                0.000000
school_charter_ready_promise               0.000000
teacher_prefix                             0.000602
teacher_teach_for_america                  0.000000
teacher_ny_teaching_fellow                 0.000000
primary_focus_subject                      0.005873
primary_focus_area                         0.005873
secondary_focus_subject                   31.304566
secondary_focus_area                      31.304566
resource_type                              0.006776
poverty_level                              0.000000
grade_level                                0.001355
fulfillment_labor_materials                5.282654
total_price_excluding_optional_support     0.000000
total_price_including_optional_support     0.000000
students_reached                           0.021985
eligible_double_your_impact_match          0.000000
eligible_almost_home_match                 0.000000
date_posted                                0.000000
dtype: float64

In [39]:
pro_des['missing_perc'] = miss_perc

In [40]:
pro_des = pro_des.reindex(columns = ['mean','std','obs','count', 'missing', 'missing_perc', 'min', 'max', 'unique', 'q5', 'q10', '25%', 
                         '50%', '75%', 'q85', 'q95', 'q99'])

In [41]:
pro_des.fillna('NotApplicable', inplace=True)

In [42]:
pro_des.head(35)

,mean,std,obs,count,missing,missing_perc,min,max,unique,q5,q10,25%,50%,75%,q85,q95,q99
projectid,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,664098,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
teacher_acctid,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,249555,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
schoolid,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,57004,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_ncesid,260857694688.375427,158975385133.582855,664098,621362.0,42736,6.435195,10000500870.0,610000900044.0,NotApplicable,60474006895.0,62271002909.0,100023000237.0,261573000251.0,370472000075.0,450354001313.0,500282000073.0,550525000566.0
school_latitude,37.240948,4.668155,664098,664098.0,0,0.000000,18.24914,67.258157,NotApplicable,29.555618,30.624529,34.038082,37.662476,40.758827,41.769068,43.536837,47.517806
school_longitude,-93.34476,17.761908,664098,664098.0,0,0.000000,-176.634989,-66.628036,NotApplicable,-122.25434,-121.373093,-112.003214,-87.681219,-79.193091,-74.31902,-73.827718,-71.062443
school_city,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,9007,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_state,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,52,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_zip,52926.452644,31193.738658,664098,664094.0,4,0.000602,410.0,99950.0,NotApplicable,8610.0,10472.0,27589.0,50702.0,85043.0,91601.0,95125.0,98146.0
school_metro,NotApplicable,NotApplicable,664098,582190.0,81908,12.333722,NotApplicable,NotApplicable,3,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_district,NotApplicable,NotApplicable,664098,663150.0,948,0.142750,NotApplicable,NotApplicable,9246,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_county,NotApplicable,NotApplicable,664098,664081.0,17,0.002560,NotApplicable,NotApplicable,1702,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_charter,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_magnet,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_year_round,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_nlns,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_kipp,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
school_charter_ready_promise,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
teacher_prefix,NotApplicable,NotApplicable,664098,664094.0,4,0.000602,NotApplicable,NotApplicable,5,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
teacher_teach_for_america,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
teacher_ny_teaching_fellow,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
primary_focus_subject,NotApplicable,NotApplicable,664098,664059.0,39,0.005873,NotApplicable,NotApplicable,27,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
primary_focus_area,NotApplicable,NotApplicable,664098,664059.0,39,0.005873,NotApplicable,NotApplicable,7,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
secondary_focus_subject,NotApplicable,NotApplicable,664098,456205.0,207893,31.304566,NotApplicable,NotApplicable,27,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
secondary_focus_area,NotApplicable,NotApplicable,664098,456205.0,207893,31.304566,NotApplicable,NotApplicable,7,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
resource_type,NotApplicable,NotApplicable,664098,664053.0,45,0.006776,NotApplicable,NotApplicable,6,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
poverty_level,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,4,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
grade_level,NotApplicable,NotApplicable,664098,664089.0,9,0.001355,NotApplicable,NotApplicable,4,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
fulfillment_labor_materials,27.495822,8.663046,664098,629016.0,35082,5.282654,9.0,35.0,NotApplicable,9.0,9.0,17.0,30.0,35.0,35.0,35.0,35.0
total_price_excluding_optional_support,542.04152,12677.383883,664098,664098.0,0,0.000000,0.0,10250017.0,NotApplicable,152.2385,178.94,267.2,411.0,586.49,763.36,1076.02,2387.903
total_price_including_optional_support,644.712845,15458.631886,664098,664098.0,0,0.000000,0.0,12500020.73,NotApplicable,181.1185,212.91,317.5,487.84,696.3875,904.96,1283.76,2848.683
students_reached,97.233547,2283.327661,664098,663952.0,146,0.021985,0.0,999999.0,NotApplicable,12.0,18.0,22.0,30.0,100.0,150.0,400.0,800.0
eligible_double_your_impact_match,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
eligible_almost_home_match,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,2,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
date_posted,NotApplicable,NotApplicable,664098,664098.0,0,0.000000,NotApplicable,NotApplicable,4026,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable

In [43]:
data_proj.shape[0]

664098

In [44]:
pro_des.to_csv('project_DQR.csv')